<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node dendro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Node basic</h1>
<p>Node id: {{nid}}</p>
<p>
    <a href="/">back home</a>
</p>
<h2>Sampling</h2>
<form method="post" id="form_sample" action="page_sampling.html">
    <p>
        <input type="submit" value="Sample">
        &nbsp;&nbsp;&nbsp;
        <label>Sampling frequency 1 [s]</label>
    </p>
</form>
<p>Current value: <pre>{{val_cur}}</pre></p>
</body>
<script>
    function autoRefresh() {
        document.getElementById('form_sample').submit();
    }
    setInterval('autoRefresh()', 1000);
</script>
</html>
