<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node dendro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Mode LORA</h1>
<p>
    <a href="/">back home</a>
</p>
<h2>Config</h2>
<p>APPEUI: {{APPEUI}}</p>
<p>DEVEUI: {{DEVEUI}}</p>
<p>APPKEY: {{APPKEY}}</p>
<h2>Settings</h2>
<form method="post" action="page_mode_lora.html">
    <p>
        <input type="submit" value="Submit">
        <input type="reset">
    </p>
    <p>
        Measure interval:
        <input type="number" id="interval" name="interval" min="0" value="{{interval}}">
        [s]
    </p>
</form>

<h2>Change mode</h2>
<form method="post" action="chg_mode_lora">
    <p>
        <input type="submit" value="Change">
        Node will restart and connection will be lost
    </p>
</form>

<h2>Sampling</h2>
<form method="post" action="page_mode_lora.html">
    <p>
        <input type="submit" id="sample" name="sample" value="Sample">
    </p>
</form>
<p>
    Current value:
    <pre>{{val_cur}}</pre>
</p>

</body>
</html>
